* {
    -webkit-text-size-adjust: 100%
}

html {
    font-size: 16px
}

*:not(html) {
    font-size: 1rem;
    color: #030202;
    line-height: 1.5;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    -webkit-text-size-adjust: 100%;
}

body {
    -webkit-text-size-adjust: 100%;
    padding-top: 13.5rem;
}

@media (max-width: 768px) {
    body {
        padding-top: 3.75rem;
    }
}

a {
    transition: .3s;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

img {
    display: block;
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.content_width {
    max-width: 1152px;
    padding: 0 1rem;
    margin: 0 auto;
}

.container .content_width {
    padding: 4rem 1rem;
}

@media (max-width: 768px) {
    .container .content_width {
        padding: 2rem 1rem;
    }
}

.btn {
    color: #ffffff;
    background-color: #4E2613;
    display: block;
    width: 360px;
    line-height: 100px;
    text-align: center;
    margin: 0 auto 4rem;
}

@media (max-width: 768px) {
    .btn {
        width: 240px;
        line-height: 60px;
        margin: 0 auto 2rem;
    }
}

.label .category.news {
    background-color: #4E4D13;
}

.label .category.coupon {
    background-color: #4E1328;
}