/* 店舗案内 */
.shop_content {
	display: flex;
	gap: 2rem;
}

@media (max-width: 768px) {
	.shop_content {
		flex-direction: column;
		gap: 1rem;
	}
}

.shop_content .shop_image,
.shop_content .shop_inner {
	width: 50%;
}

@media (max-width: 768px) {
	.shop_content .shop_image,
	.shop_content .shop_inner {
		width: 100%;
	}
}

.shop_content.top .shop_image {
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 306px;
	overflow: hidden;
}

.shop_content.top .shop_image img {
	height: 100%;
	object-fit: cover;
}

.shop_content .shop_inner .item:not(:last-of-type) {
	margin-bottom: 1.75rem;
}

.shop_content .shop_inner .item .label {
	font-weight: 700;
}

.shop_content .shop_inner .item p {
	margin-top: 0.25rem;
}