/* ファーストビュー */
.firstview {
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 500px;
	position: relative;
	overflow: hidden;
	z-index: 0;
}

.firstview.top {
    max-height: 810px;
}

.firstview img {
	height: 100%;
}

.firstview .catch_copy {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2.625rem;
	font-weight: 700;
	color: #ffffff;
	white-space: nowrap;
}

@media (max-width: 768px) {
	.firstview .catch_copy {
		font-size: 1.5rem;
	}
}

@media (max-width: 425px) {
	.firstview .catch_copy {
		font-size: 1.25rem;
	}
}