.menu {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

@media (max-width: 768px) {
	.menu {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
}

@media (max-width: 425px) {
	.menu {
		grid-template-columns: repeat(1, 1fr);
	}
}

.menu .menu_item a {
	display: block;
	aspect-ratio: 16 / 9;
	width: 100%;
	overflow: hidden;
}

.menu .menu_item a img {
	height: 100%;
	object-fit: cover;
}