.breadcrumbs {
	display: flex;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.breadcrumbs span[property="itemListElement"]:not(:last-of-type) {
	margin-right: 1.75rem;
	position: relative;
}

.breadcrumbs span[property="itemListElement"]:not(:last-of-type)::after {
	content: "";
	display: block;
	background-image: url("../../../common/images/vector.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 12px;
	height: 12px;
	position: absolute;
	top: 50%;
	left: calc(100% + 0.5rem);
	transform: translateY(-50%);
}

.breadcrumbs span[property="itemListElement"] span[property="name"] {
	display: block;
	color: #807D7C;
	font-size: 0.75rem;
	font-family: "Roboto", sans-serif;
}