.breadcrumbs_list {
	display: flex;
	padding: 1rem 0;
}

.breadcrumbs_list li:not(:last-of-type) {
	margin-right: 1.75rem;
	position: relative;
}

.breadcrumbs_list li:not(:last-of-type)::after {
	content: "";
	display: block;
	background-image: url("../../../common/images/vector.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 12px;
	height: 12px;
	position: absolute;
	top: 50%;
	left: calc(100% + 0.5rem);
	transform: translateY(-50%);
}

.breadcrumbs_list li a,
.breadcrumbs_list li span {
	display: block;
	color: #807D7C;
	font-size: 0.75rem;
	font-family: "Roboto", sans-serif;
}