* {
    -webkit-text-size-adjust: 100%
}

html {
    font-size: 16px
}

*:not(html) {
    font-size: 1rem;
    color: #030202;
    line-height: 1.75;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    -webkit-text-size-adjust: 100%
}

body {
    -webkit-text-size-adjust: 100%
}

a {
    transition: .3s;
    text-decoration: none
}

img {
    vertical-align: bottom
}