* {
    -webkit-text-size-adjust: 100%
}

html {
    font-size: 16px
}

*:not(html) {
    font-size: 1rem;
    color: #030202;
    line-height: 1.5;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    -webkit-text-size-adjust: 100%
}

body {
    -webkit-text-size-adjust: 100%
}

a {
    transition: .3s;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

img {
    display: block;
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.content_width {
    max-width: 1132px;
    padding: 0 1rem;
    margin: 0 auto;
}

.btn {
    color: #ffffff;
    background-color: #4E2613;
    display: block;
    width: 360px;
    line-height: 100px;
    text-align: center;
    margin: 4rem auto 0;
}

/* あとで削除する */
#wpadminbar {
    display: none;
}