.shop h2 {
	font-size: 2rem;
	font-weight: 700;
	padding: 0 1rem;
	border-left: 5px solid #134E39;
}

@media (max-width: 768px) {
	.article_element h2 {
		font-size: 1.5rem;
	}
}

@media (max-width: 425px) {
	.article_element h2 {
		font-size: 1.25rem;
	}
}

.shop > p {
	margin: 1rem 0 2rem;
}

.shop .shop_content {
	margin-bottom: 1rem;
}

.shop .access_map {
	margin-top: 2rem;
	width: 100%;
}

.shop .access_map iframe {
	width: 100%;
	height: 600px;
}

@media (max-width: 768px) {
	.shop .access_map iframe {
		height: 500px;
	}
}