.article {
	display: flex;
	gap: 2rem;
}

.article_element h1,
.article_element .label,
.article_element .article_thumbnail,
.article_element h2,
.article_element h3,
.article_element p {
	margin-bottom: 1.5rem;
}

.article_element h1 {
	font-size: 2.625rem;
	font-weight: 700;
}

.article_element .label {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

@media (max-width: 768px) {
	.article_element .label {
		gap: 1rem;
	}
}

.article_element .label .category {
	color: #ffffff;
	background-color: #4E4D13;
	padding: 0 0.875rem;
	line-height: 2.125;
}

@media (max-width: 768px) {
	.article_element .label .date,
	.article_element .label .category {
		font-size: 0.75rem;
	}

	.article_element .label .category {
		padding: 0 0.75rem;
	}
}

@media (max-width: 425px) {
	.article_element .label .category {
		line-height: 1.5rem;
		padding: 0 0.5rem;
	}
}

.article_element .article_thumbnail {
	aspect-ratio: 16 / 9;
	width: 100%;
	overflow: hidden;
}

.article_element .article_thumbnail img {
	height: 100%;
	object-fit: cover;
}

.article_element h2 {
	font-size: 2rem;
	font-weight: 700;
	padding: 0 1rem;
	border-left: 5px solid #134E39;
}

.article_element h3 {
	font-size: 1.625rem;
	font-weight: 700;
}

.article .sidebar {
	min-width: 256px;
}

.article .sidebar .archives {
	margin-bottom: 2rem;
}

.article .sidebar .title {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 2;
}